<%- include partials/header.ejs %>

<h1>Hai bro</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(post => { %>
  <h1><%= post.title %></h1>
  <p><%= post.description.substring(0, 100) + "..." %> <a href="/post/<%=post.title%> ">Read More</a> </p>
<% }); %> 

<%- include partials/footer.ejs %>
